<!-- Crear un componente personalizado con toda su lógica -->
<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Vue.JS Componente Personalizado</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <main>
     <!--  v-model se descomponen en esto -->
      <!-- Si tenemos esto: <input type="text" v-model="contrasena">-->
      <!-- Se descompone en esto: <input type="text" :value="contrasena" @input="contrasena = $event.target.value">-->
     <!--  en vez de hacer l anterior tenemos toda la lógica de funcionamiento de la contraseña en el componente -->
    <!-- https://es.vuejs.org/v2/guide/components-custom-events.html#Perzonalizacion-de-componente-v-model -->
      <contrasena v-model="contrasena"></contrasena>
      <pre>{{ $data }}</pre>
    </main>

    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
