<!-- TUTORIAL: https://es.vuejs.org/v2/guide/index.html#Manejando-Interacciones-del-Usuario -->
<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue.JS Eventos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main>
        <ul>
            <!-- Recorremos las tareas -->
            <li v-for="tarea in tareas">
                {{ tarea }}
            </li>
        </ul>
        <!-- En el formulario cuando se active submint una vez y no recarga (prevent) el disparamos el metodo nueva tarea -->
        <form v-on:submit.prevent="agregarTarea">
            <input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
            <!-- Lo enlazamos con ele elemento del modelo de datos nuevaTarea -->
            <input type="submit" value="Enviar tarea Formulario">
        </form>
        
        <!-- Sin Formularios -->
        <input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
        <input type="button" value="Enviar Tarea Botón" v-on:click="agregarTarea"> <!-- se puede simplificar con @click -->


        <!--  Mostramos el valor del objeto Data de Vue -->
        <pre>{{ $data }}</pre>
    </main>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>