<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue - Firebase</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="enviarMensaje">
            <textarea v-model="mensaje" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="Enviar mensaje">
        </form>
        <hr>
        <h1>Mensajes</h1>
        <ul>
            <li v-for="mensaje in mensajes">
                {{ mensaje.mensaje}}
                <small><i>({{ mensaje.username }})</i></small>
            </li>
        </ul>
    </div>

<!-- Vue -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/
firebasejs/7.2.1/firebase-app.js"></script>
<!-- Firestore -->
<script src="https://www.gstatic.com/
firebasejs/7.2.1/firebase-firestore.js"></script>
<script src="firebase.js"></script>

<script>
  // Your web app's Firebase configuration
//   var firebaseConfig = {
//     apiKey: "",
//     authDomain: "",
//     databaseURL: "",
//     projectId: "",
//     storageBucket: "",
//     messagingSenderId: "",
//     appId: ""
//   };
  
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  // Inicializamos firestore
  const db = firebase.firestore();
  // Creamos una colección si no exiuste e insertamos un documento, con la clave, es set
  db.collection("cities").doc("LA").set({
    name: "Los Angeles",
    state: "CA",
    country: "USA"
    })
    .then(function() {
        console.log("Document successfully written!");
    })
    .catch(function(error) {
        console.error("Error writing document: ", error);
    });

    // Guardar nuevos datos anidados (lista)
    document.getElementById('formulario').onsubmit= function(event) {
        event.preventDefault();
        let mensaje = document.getElementById('mensaje');
        // si no tenemos la clave usamos add
        db.collection("chats").add({
            username: 'pepe',
            mensaje: mensaje.value,
        }).then(() => {
            console.info('Mensaje enviado');
            mensaje.value = '';
        });
    };

</script>


</body>
</html>